.m_logo {
  display: inline-block;

  > .logo_text {
    height: 0;
    overflow: hidden;
    padding-top: 4.125rem;
    width: 21.25rem;
    background-image: url(../img/logo.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: $black;

    @include max-screen($break_point) {
      width: 14rem;
      padding-top: 2.75rem;
    }
  }
}
