$black: #000;
$white: #fff;
$yellow: #ff0;
$anchor: #0CC;

$break_point_small: 320px;
$break_point: 640px;
$spacer: 15px;

$font_size_lg: 20px;
$font_size_md: 16px;
$font_size_sm: 12px;
$font_size_xs: 10px;
